@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car-RentAll</h1>
    <p class="lead">Nagyszerű ajánlatok, átlátható felület. Autóbérlés a lehető legalacsonyabb áron. Próbálja ki most!</p>
    <p><a href="/Jarmuvek/Index" class="btn btn-primary btn-lg">Bérelhető járművek &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gyors, egyszerű és biztonságos</h2>
        <p>
            Az egyik legfontosabb küldetésünk, hogy ne raboljuk feleslegesen ügyfelink idejét. Bérlési felületünk emiatt letisztult, ugyanakkor biztonságos, kezelése egyszerű.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Rugalmas foglalás</h2>
        <p>
            Foglalását ingyenesen lemondhatja vagy módosíthatja a felvétel előtti 24 óráig.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nincsenek rejtett költségek</h2>
        <p>Pontosan tudja, hogy mennyit fog fizetni</p>
    </div>

</div>